#
# Settings for "direnv" to automatically load
# the python virtualenv.
#
export PYTHON="/usr/bin/python3"
export VIRTUAL_ENV="venv"
layout python ${PYTHON}
export PYTHONPATH="${VIRTUAL_ENV%%venv}src"
